.site-header {
    padding: .625rem 0;
    position: absolute;
    width: 100%;
    z-index: 2;
    
    @mixin atMedium { /* Show BKG on larger screens */
        background: rgba($mainBlue, .3);
    }

    &__btn-container {
        float: right;
    }

    &__logo {
        position: absolute;
        top: 0;
        left: 50%;
        transform: translateX(-50%);
        background-color: $mainBlue;
        padding: .75rem 2.25rem;
        text-align:center;
        line-height: 1.6;
        
        @mixin atMedium {
            left: auto;
            transform: translateX(0);
            padding: 1.625rem 1.75rem;
        }
    }

    &__logo__graphic {
        text-indent: 0; /* -9999px to move text out of graphic */
        color: #fff;
        font-size: 1.5rem;
    }

    &__menu-icon {
        width: 1.25rem;
        height: 1.25rem;
        background-color: #fff;
        position: absolute;
        top: .625rem;
        right: .625rem;

        @mixin atMedium {
            display: none;
        }
    }

    &__menu-content {
        display: none;
        
        @mixin atMedium {
            display: block;
        }
    }
}