.wrapper {
    padding: 0 1.125rem;
    max-width: 1200px;
    margin: 0 auto;

    &--medium {
        max-width: 61rem; /* 976px; */
    }

    .wrapper {
        padding-left: 0;
        padding-right: 0;
    }
}